<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/main.css">
    <title>Лабораторная 3</title>
</head>

<body>

    <header>
        <h1>Аналитика сайтов</h1>
    </header>

    <nav>
        <!--  -->
    </nav>

    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul class="feed_link">
            <!--  -->
        </ul>
        <!--  -->
    </div>

    <main>
        <div class="description">
            <h2>Аналитика отрасли сельского хозяйства: Птицеводство</h2>
            <div class="table_block">
                <table>
                    <tr>
                        <td>
                            Наименование информационного ресурса
                        </td>
                        <td>
                            Описание
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Информационно-аналитические агентства, предоставляющие информацию о состоянии отрасли рынка
                        </td>
                        <td>Центральная информационно-аналитическая система Система государственного информационного
                            обеспечения в сфере сельского
                            хозяйства.<br>Tadviser.ru<br>Apk-inform.com<br>Eec.eaeunion.org
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Периодические печатные издания, содержащие необходимые информационные и аналитические
                            материалы
                        </td>
                        <td>
                            Nsh.ru<br>Fondugra.ru<br>Qje.su
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Базы данных, каталоги, справочники
                        </td>
                        <td>
                            https://www.restko.ru/market/5501<br>https://agricons.ru/nashi-raboty/spravochniki-i-bazy-dannykh/
                        </td>
                    </tr>
                </table>
            </div>
            <p>
                Сельское хозяйство России — крупная отрасль российской экономики. Доля сельского хозяйства
                (агропромышленого комплекса, АПК) в валовой добавленной стоимости в России — около 4,5 %
            </p>
            <p>
                Выпуск аграрного сектора сократился на 1,3% после роста на 0,2% в 2020 году. В целом экономический вклад
                сельского хозяйства снизился
            </p>
            <p>
                Крупнейшие предприятия отрасли: группа «Черкизово», группа «ресурс» из 8 птицефабрик в южных районах
                страны,
                агрохолдинг «БЭЗРК-Белгранкорм» из 40 подразделений в Белгородской и Новгородской области.
            </p>
            <p>
                Племенные фабрики и птицефабрики получают прямое возмещение затрат на строительство и модернизацию
                производственных комплексов от правительства. Государство компенсирует до 20% стоимости объектов.
                Поддержка
                осуществляется в рамках программы развития сельского хозяйства Минсельхоза России. В 2022 году
                выделенная
                Минсельхозом сумма на выплату компенсирующих субсидий составила 26,7 млрд руб. и 31,8 млрд руб. –
                стимулирующих.
            </p>

        </div>
    </main>

    <footer>
        <p>&copy; 2024 All rights reserved.</p>
    </footer>

    <script src="../../js/renderNavigation.js"></script>
    <script src="../../js/renderSidebar_2.js"></script>
</body>

</html>