<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/main.css">
    <title>Лабораторная 3</title>
</head>

<body>

    <header>
        <h1>Аналитика сайтов</h1>
    </header>

    <nav>
        <!--  -->
    </nav>

    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul class="feed_link">
            <!--  -->
        </ul>
        <!--  -->
    </div>

    <main>
        <div class="description">
            <h2>Группа агропредприятий «Ресурс»</h2>
            <div class="table_block">
                <table>
                    <tr>
                        <td>1</td>
                        <td>1.1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2.1</td>
                    </tr>
                </table>
            </div>
            <p>
                Производственные активы ГАП «Ресурс» расположены в экологически чистых регионах России с благоприятным
                климатом. Применяются современные технологии.
            </p>
            <p>
                ГАП «Ресурс» располагает в своих владениях: земельные банки, маслоэкстракционные заводы, комбикормовые
                заводы, птицеводческие комплексы, животноводческие комплексы, овцеводческие комплексы,
                птицеперерабатывающие
                комбинаты, мясоперерабатывающие комбинаты, комбинаты глубокой переработки мяса.
            </p>
            <p>
                Направление деятельности: Выращивание сельскохозяйственных культур и производство муки, Производство
                мяса
                птицы, Производство растительных масел, Производство мясной гастрономии, Производство мясных
                полуфабрикатов.
            </p>
            <p>
                На сайте ГАП представлены следующие сертификаты:
            </p>
            <ul>
                <li>Аккредитация GULFTIC-ICSC HALAL</li>
                <li>ООО «Ставропольский бройлер» Филиал «Мясоптицекомбинат «Невинномысский»</li>
                <li>ООО «Ставропольский бройлер» Филиал «Мясоптицекомбинат «Благодарненский»</li>
                <li>ОАО «Токаревская птицефабрика» Филиал «Мясоптицекомбинат «Токаревский»</li>
                <li>ОАО «Токаревская птицефабрика» Филиал «Мясоптицекомбинат «Инжавинский»</li>
                <li>ООО «Ростовская зерновая компания «Ресурс», Обособленное подразделение «Белокалитвинское»</li>
                <li>Аккредитация Министерства изменения климата и окружающей среды ОАЭ</li>
                <li>ООО «Ставропольский бройлер» Филиал «Мясоптицекомбинат «Невинномысский»</li>
                <li>ООО «Ставропольский бройлер» Филиал «Мясоптицекомбинат «Благодарненский»</li>
                <li>ОАО «Токаревская птицефабрика» Филиал «Мясоптицекомбинат «Токаревский»</li>
                <li>ОАО «Токаревская птицефабрика» Филиал «Мясоптицекомбинат «Инжавинский»</li>
                <li>ООО «Ростовская зерновая компания «Ресурс», Обособленное подразделение «Белокалитвинское»</li>
                <li>Аккредитация Государственного управления по стандартизации и метрологии ОАЭ</li>
                <li>ООО «Ставропольский бройлер» Филиал «Мясоптицекомбинат «Невинномысский»</li>
                <li>ООО «Ставропольский бройлер» Филиал «Мясоптицекомбинат «Благодарненский»</li>
                <li>ОАО «Токаревская птицефабрика» Филиал «Мясоптицекомбинат «Токаревский»</li>
                <li>ОАО «Токаревская птицефабрика» Филиал «Мясоптицекомбинат «Инжавинский»</li>
                <li>Аккредитация Главного Раввината России, Департамент Кашрута</li>
                <li>ООО Маслоэкстракционный завод «Ресурс»</li>
            </ul>

        </div>
    </main>

    <footer>
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>

    <script src="../../js/renderNavigation.js"></script>
    <script src="../../js/renderSidebar.js"></script>
</body>

</html>