<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>Лабораторная 3</title>
</head>

<body>

    <header>
        <h1>Аналитика сайтов</h1>
    </header>

    <nav>
        <!--  -->
    </nav>

    <div class="sidebar">
        <ul class="feed_link">
            <!--  -->
        </ul>
        <!--  -->
    </div>

    <main>
        <div class="description">
            <h2>АО «Приосколье»</h2>
            <div class="table_block">
                <table>
                    <tr>
                        <td>1</td>
                        <td>1.1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2.1</td>
                    </tr>
                </table>
            </div>
            <p>
                Сайт предприятия предоставляет следующую статистическую информацию:
            </p>
            <ul>
                <li>16 действующих откормочных площадок мощностью 430000 тонн мяса птицы в живом весе в год;</li>
                <li>Репродукторы 2-го порядка, с объемом производства 270000000 яиц в год;</li>
                <li>Мощность инкубаторного парка составляет 288000000 бройлерных цыплят в год;</li>
                <li>3 завода по убою и переработке мяса птицы, располагающие мощностью 48900 голов в час;</li>
                <li>Реализация в год 367089487 кг продукции из мяса птицы, 6301560 кг готовых полуфабрикатов, 9611334 кг
                    колбасных и кулинарных изделий.</li>
            </ul>
            <p>
                На сайте присутствует раздел с продукцией различных марок, которыми владеет предприятие, так же на сайте
                находится раздел с рецептами, в которых может быть применена продукция предприятия.
            </p>

        </div>
    </main>

    <footer>
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>

    <script src="/js/renderNavigation.js"></script>
    <script src="/js/renderSidebar.js"></script>
</body>

</html>