<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>Лабораторная 3</title>
</head>

<body>

    <header>
        <h1>Аналитика сайтов</h1>
    </header>

    <nav>
        <!--  -->
    </nav>

    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul class="feed_link">
            <!--  -->
        </ul>
        <!--  -->
    </div>

    <main>
        <div class="description">
            <h2>АО «ЕнисейАгроСоюз»</h2>
            <div class="table_block">
                <table>
                    <tr>
                        <td>1</td>
                        <td>1.1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2.1</td>
                    </tr>
                </table>
            </div>
            <p>
                «Енисейский бройлер» (АО «ЕнисейАгроСоюз») — крупнейшая бройлерная птицефабрика в Красноярском крае.
                Производит продукцию из мяса птицы под торговой маркой «Енисейский бройлер».
            </p>
            <p>
                Предприятие имеет замкнутый цикл производства:
            </p>
            <ul>
                <li>выращивание зерна</li>
                <li>производство комбикормов</li>
                <li>выращивание птицы</li>
                <li>переработка и реализация мясной продукции</li>
            </ul>
            <p>
                На сайте представлена информация об ассортименте производимой продукции, так же из этого раздела можно
                узнать, с какими крупными сетями магазинов сотрудничает предприятие.
            </p>
            <p>
                Сертификаты предприятия: Сертификат на полуфабрикаты из мяса птицы, сертификат на мясо кур (тушки,
                части),
                сертификат на субпродукты птицы.
            </p>

        </div>
    </main>

    <footer>
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>

    <script src="/js/renderNavigation.js"></script>
    <script src="/js/renderSidebar.js"></script>
</body>

</html>