<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>Лабораторная 3</title>
</head>

<body>

    <header>
        <h1>Списки предприятий</h1>
    </header>

    <nav>
        <!--  -->
    </nav>

    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul class="feed_link">
            <!--  -->
        </ul>
        <!--  -->
    </div>

    <main>
        <div class="description">
            <h2>Крупнейшие предприятия по региону</h2>
            <a name="list2"></a>
            <ol>
                <li>АО «ЕнисейАгроСоюз»</li>
                <li>АО «Шушенская птицефабрика»</li>
                <li>ОАО «Птицефабрика Заря»</li>
                <li>ОАО «Птицефабрика Бархатовская»</li>
                <li>ООО «Птицефабрика Преображенская»</li>
                <li>ООО «Налобинская птицефабрика»</li>
                <li>ООО «Боготольская птицифабрика»</li>
            </ol>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>

    <script src="/js/renderNavigation.js"></script>
    <script src="/js/renderSidebar.js"></script>
</body>

</html>