<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>Лабораторная 3</title>
</head>

<body>

    <header>
        <h1>Списки предприятий</h1>
    </header>

    <nav>
        <!--  -->
    </nav>

    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul class="feed_link">
            <!--  -->
        </ul>
        <!--  -->
    </div>

    <main>
        <!--  -->
    </main>

    <footer>
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>

    <script src="/js/renderContent.js"></script>
    <script src="/js/renderNavigation.js"></script>
    <script src="/js/renderSidebar.js"></script>
    <script src="/js/vote.js"></script>
    <script src="/js/edit.js"></script>
</body>

</html>