<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/main.css">
    <title>Лабораторная 3</title>
</head>

<body>

    <header>
        <h1>Списки предприятий</h1>
    </header>

    <nav>
        <!--  -->
    </nav>

    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul class="feed_link">
            <!--  -->
        </ul>
        <!--  -->
    </div>

    <main>
        <div class="description">
            <h2>Крупнейшие предприятия по стране</h2>
            <a name="list1"></a>
            <ol>
                <li>Группа агропредприятий «Ресурс»</li>
                <li>Группа «Черкизово»</li>
                <li>АО «Приосколье»</li>
                <li>ГК «Агрокомплекс им. Н.И. Ткачёва»</li>
                <li>Агропромышленный холдинг «БЭЗРК-Белгранкорм»</li>
                <li>Птицефабрика «Северная»</li>
                <li>Группа компаний «ПРОДО»</li>
                </li>АПХ «Мираторг»</li>
                <li>Птицефабрика «Чамзинская»</li>
                <li>УК «ТРАСТ ПА»</li>
                <li>«Челны-бройлер»</li>
            </ol>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 All rights reserved.</p>
    </footer>

    <script src="../../js/renderNavigation.js"></script>
    <script src="../../js/renderSidebar_2.js"></script>
</body>

</html>